<nav class="nav  nav--header">
    <ul class="list  list--nav">
        {% for item in site.navigation_header %}


        {% if item[0] contains 'Convocatoria' %}

        <li class="item  item--nav{% if page.url contains 'convocatoria' %}  item--current{% endif %}">
            <div class="dropdown">
                <div class="dropbtn"> Formatos</div>
                <ul class="dropdown-content">
                    <li><a href="{{ site.url }}/convocatoria/carta_bajo_protesta">Carta Bajo Protesta de Decir Verdad</a></li>
                    <li><a href="{{ site.url }}/convocatoria/3de3_intereses">Declaración de Intereses</a></li>
                    <li><a href="{{ site.url }}/convocatoria/3de3_patrimonial">Declaración Patrimonial</a></li>
                    <li><a href="{{ site.url }}/convocatoria/3de3_fiscal">Declaración Fiscal (Ejemplo)</a></li>
                </ul>
        </div>
        </li>
           <li class="item  item--nav{% if page.url contains 'convocatoria' %}  item--current{% endif %}">
              <div class="dropdown">
               <div class="dropbtn"> Convocatorias </div>
            <ul class="dropdown-content">
                <li><a href="{{ site.url }}/convocatoria/convocatoria_conformacion_cps">Convocatoria 2018</a></li>
                <li><a href="{{ site.url }}/convocatoria">Convocatoria 2017</a></li>
            </ul>
            </div>
        </li>




        {% elsif item[1] contains '://' %}
        {% assign url = item[1] %}
        <li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
            <a href="{{ url }}">{{ item[0] }}</a>
        </li>

        {% else %}
        {% assign url = item[1] | relative_url %}
        <li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
            <a href="{{ url }}">{{ item[0] }}</a>
        </li>

        {% endif %}

        {% endfor %}


    </ul>
</nav>
