{% assign feature_text = page.feature_text %}
{% assign main_page = page.main_page %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}


{% if main_page %} 

	
<div class="feature" style="text-align: center;">
  <div class="outer" style="text-align: center;">

    <table style="max-width:900px"><tr><td style="text-align: center;">
      <img class="image  image_ftr" src="/assets/logo-1.svg"> 
    </td></tr></table>

</div>
</div>


{% elsif feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
      <div class="container  typeset">
        {{ feature_text | markdownify }}
      </div>
  </div>
{% endif %}
