<footer class="footer">
  <div class="container">


<div>
<a href="/aviso_de_privacidad/"> 

      {% include icon.html id="document" title="document" width="40px"%}
      <span style="line-height: 1rem; vertical-align: text-bottom">
	Aviso de Privacidad</span></a>
</div>

<div>
<p class="small" style="padding: 0 4px; color: #82D4DA; font-weight: bold; line-height: 1rem">COMISIÓN DE SELECCIÓN</p><br><p style="padding: 0 4px; color: #B3B3B3; line-height: 1rem" class="small">Sistema Anticorrupción del Estado de Jalisco</p>
<span style="padding: 0 4px"> <br> <a href="mailto:contacto@comisionsaejalisco.org"> 
      {% include icon.html id="email" title="email" width="40px"%}
<small>contacto@&#8203;comisionsaejalisco.org<br></small></a><br></span>

</div>

</div>
</footer>
