{% assign feature_text = page.feature_text %}
{% assign main_page = page.main_page %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}


{% if main_page %} 

	
<div class="feature" style="text-align: center;">
  <div class="outer" style="text-align: center;">

    <table style="max-width:900px"><tr><td>
    <figure class="figure  figure--center">
      <img class="image  image_ftr" src="/assets/logo-1.svg"> 
    </figure></td></tr><tr><td style="text-align: center; padding-bottom: 10px;">
  <a class="button  button2" href="https://www.youtube.com/channel/UCym0EaZ19UtO7mEiFmuOV-A/live" style="max-width: 78%; color:#fff; border-color:#fc0d1b">HOY lunes 23 de octubre marca el primer día de las entrevistas a los aspirantes a integrar el Comité de Participación Social del Sistema Anticorrupción del Estado de Jalisco.<br/><svg class="icon  icon--youtube" role="img" style="width: 50px; height: 50px;"><use xlink:href="#youtube"></use></svg>
  <br/><span style="color:#fc0d1b">SIGUE LA TRANSMISIÓN EN VIVO</span></a>
 </td></tr></table>

</div>
</div>


{% elsif feature_text or feature_image %}
  <div class="feature"{% if feature_image %} style="background-image: url({{ feature_image }})"{% endif %}>
      <div class="container  typeset">
        {{ feature_text | markdownify }}
      </div>
  </div>
{% endif %}
